@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

@font-face {
  font-family: "Nexa";
  src: url("./fonts/Nexa_Light.otf") ,url("./fonts/Nexa_Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Nexa, sans-serif; */
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: #6560f7;
  color: #f8f8ff;
}

.light {
  font-weight: 200;
}

.bold {
  font-weight: 500;
}