aside {
    padding-inline: 8rem;
    background-color: var(--bg-secondary);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    position: fixed;
    left: 3rem;
    top: 3rem;
}

.content {
    margin-block: .75rem;
}

.box + .box {
    margin-top: 3rem;
}

.box .title {
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase   ;
}

.box p + p {
    margin-top: .75em;
}

.box p > a {
    color: var(--text-gray);
    text-decoration: none;
    opacity: .6;
    transition: opacity 100ms ease-in;
}

.box p > a:hover {
    opacity: 1;
}