.input {
  margin-top: 1rem;
  border: 2px solid rgb(var(--bg-dark-2));
  border-radius: 5px;
  padding: 1.1em 0.5em 0.6em;
  position: relative;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(var(--fg-dark));
  margin-top: 0.5em;
}

.input:focus-within div,
.input input:not(:placeholder-shown) ~ div {
  transform: translateY(-0.9rem) scale(0.8);
}
.input:focus-within {
  border: 2px solid rgb(var(--accent-color));
}
.input:focus-within label {
  color: rgb(var(--accent-color));
}
