.navLink > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: light;
  padding: 0.75em;
  border-radius: 100vw;
  color: rgb(var(--fg-dark));
  width: fit-content;
  transition: background-color 200ms ease-in-out;
  line-height: 1.25em;
}

.navLink > a:hover {
  background-color: var(--bg-dark-2);
}

.navLink > a p {
  margin-left: 1em;
}
