.title {
  position: absolute;
  inset: 0 auto 0 0.5em;
  margin-block: auto;
  height: fit-content;
  transition: 0.25s ease-in-out;
  transform-origin: center left;
}

.title label {
  color: rgb(var(--fg-dark-1));
}

.errMsg {
  color: rgb(var(--error));
  font-size: 0.8rem;
  margin-left: 1em;
  margin-top: 0.25em;
}

.error label {
  color: rgb(var(--error)) !important;
}

.errBox {
  border-color: rgb(var(--error)) !important;
}
